/* Gachapon.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.enlarged-card-container {
    position: fixed;
    display: grid;
    grid-template-areas:
    'menu main'
    'menu footer';
    gap: 10px;
    width: 700px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    color: white;
}

.enlarged-card-container img {
    grid-area: menu;
    width: 400px;
}

.enlarged-card-container h1 {
    grid-area: main;
}

.enlarged-card-container p {
    grid-area: footer;
}

@media (max-width: 1024px) {
    .enlarged-card-container {
        position: fixed;
        display: grid;
        grid-template-areas:
        'menu'
        'main'
        'footer';
        gap: 10px;
        width: 600px;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        color: white;
    }

    .enlarged-card-container img {
        grid-area: menu;
        width: 300px;
    }
}